@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="id" name="id" value="${item.id}" underline="true"/>
                    <#input id="menuId" name="菜单id" value="${item.menuId}" underline="true"/>
                    <#input id="type" name="appmenu类型" value="${item.type}" />
                </div>

                <div class="col-sm-6">
                    <#input id="statue" name="状态" value="${item.statue}" underline="true"/>
                    <#input id="pcUrl" name="pc端html路径" value="${item.pcUrl}" underline="true"/>
                    <#input id="wapUrl" name="移动端html路径" value="${item.wapUrl}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check"
                    clickFun="AppMenuInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AppMenuInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/AppMenu/appMenu/appMenu_info.js"></script>
@}
