@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" underline="true"/>
                            <#input id="appType" name="客户端设备id 1安卓pad 2安卓手机 3ios手机 4iospad" underline="true"/>
                            <#input id="versionId" name="大版本号id" underline="true"/>
                            <#input id="versionMini" name="小版本号" underline="true"/>
                            <#input id="versionCode" name="版本标识 1.2" underline="true"/>
                            <#input id="type" name="是否升级  1升级，0不升级，2强制升级"/>
                </div>

                <div class="col-sm-6">
                            <#input id="apkUrl" name="" underline="true"/>
                            <#input id="content" name="app更新内容" underline="true"/>
                            <#input id="upgradePoint" name="升级提示" underline="true"/>
                            <#input id="status" name="" underline="true"/>
                            <#input id="createTime" name="" underline="true"/>
                            <#input id="updateTime" name="" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="TTbVersionUpgradeInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="TTbVersionUpgradeInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/VersionUpgrade/tTbVersionUpgrade/tTbVersionUpgrade_info.js"></script>
@}
