@layout("/common/_container.html"){
<link rel="stylesheet" href="${ctxPath}/static/css/fileinput.css" />
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-12 b-r">
                            <#input id="id" name="id" value="${item.id}" underline="true"/>
                            <#input id="appType" name="客户端设备id 1安卓手机 2ios手机 3安卓pad 4iospad" value="${item.appType}" underline="true"/>
                            <#input id="versionCode" name="版本标识" value="${item.versionCode}" underline="true"/>
                            <#input id="type" name="是否升级  1升级，0不升级，2强制升级" value="${item.type}" />
                </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label">上传文件</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="file" id="apk" value="" name="files" multiple="multiple" >
                            <input type="hidden" name="apkUrl" id="apkUrl" value=""   />
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                            <#input id="content" name="app更新内容" value="${item.content}" underline="true"/>
                            <#input id="upgradePoint" name="升级提示" value="${item.upgradePoint}" underline="true"/>
                            <#input id="status" name="状态" value="${item.status}" underline="true"/>

            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="TTbVersionUpgradeInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="TTbVersionUpgradeInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/VersionUpgrade/tTbVersionUpgrade/tTbVersionUpgrade_info.js"></script>
<script type="text/javascript" src="${ctxPath}/static/js/fileinput.js"></script>
<script type="text/javascript" src="${ctxPath}/static/js/locales/zh.js"></script>
<script>
    var uploadUrl=${ctxPath}+"file/upload";
    $("#apk").fileinput({
        language : 'zh',//设置文中文
        uploadUrl : "/file/upload",//图片上传的url，我这里对应的是后台struts配置好的的action方法
        allowedFileExtensions: ['apk'],//接收的文件后缀
        maxFileCount: 1, //表示允许同时上传的最大文件个数
        // enctype : 'multipart/form-data',
        showCaption : true,//显示标题
        showRemove : true, //显示移除按钮
        uploadAsync : true,//默认异步上传
        showPreview : false,//是否显示预览
        textEncoding : "UTF-8",//文本编码
        autoReplaceBoolean : false,//选择图片时不清空原图片
    });


    $("#apk").on('fileuploaded', function(event, data, previewId, index) {//异步上传成功结果处理
        console.log(data.response);
        $("#apkUrl").val(data.response.data.files[0]);
    });




    $("#apk").on('fileerror', function(event, data, msg) {//异步上传失败结果处理
        alert("uploadError");
    });
</script>
@}
