<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.BigDataMapper">
    <select id="countUnitStar" resultType="java.util.HashMap">
        SELECT
	c.title ctitle,
	c.id id,
	count(DISTINCT ta.id) dcdb,
	(
		SELECT
			count(DISTINCT mrec.id)
		FROM
			td_meetingrec mrec
		WHERE
			c.id = mrec.unitid
	) AS qwhy,
	(
		SELECT
	count(DISTINCT irec.id)
FROM
	 td_infosrec irec WHERE c.id = irec.unitid
	) AS qwxx,
	(
		SELECT
	count(DISTINCT drec.id)
FROM
	td_doc_rec drec WHERE c.id = drec.unitid
	) AS qwgw
FROM
	t_tb_company c
LEFT JOIN td_taskassign_unit tu ON c.id = tu.unitid
AND c. STATUS = 1
LEFT JOIN td_taskassign ta ON tu.tassignid = ta.id
GROUP BY
	c.title,
	c.id
ORDER BY
	dcdb DESC,
	qwhy DESC,
	qwgw DESC,
	qwxx DESC
    </select>
    <select id="countAssignStatus" resultType="java.util.HashMap">
        SELECT
	a.id as id,
	a.title as title,
	Totalnum as total,
	DealSuccNum AS wc,
	Totalnum - DealSuccNum AS zzbl,
	CASE
WHEN DealSuccNum > 0 THEN
	cast(
		DealDate * 1.0 / DealSuccNum AS signed
	)
ELSE
	0
END pjsj
FROM
	(
		SELECT
			com.title,
			com.id,
			sum(
				CASE
				WHEN taskunit.`status` = 4 THEN
					1
				ELSE
					0
				END
			) AS DealSuccNum,
			sum(
				CASE
				WHEN taskunit.id IS NOT NULL THEN
					1
				ELSE
					0
				END
			) Totalnum,
			sum(
				CASE
				WHEN taskunit.`status` = 4 THEN
					cast(
						timestampdiff(
							SECOND,
							assign.assigntime,
							deal.finishtime
						) / 86400 AS signed
					)
				ELSE
					0
				END
			) AS DealDate
		FROM
			t_tb_company com
		LEFT JOIN td_taskassign_unit taskunit ON taskunit.unitid = com.id
		LEFT JOIN td_taskassign assign ON assign.id = taskunit.tassignid
		LEFT JOIN td_taskassign_unitdeal deal ON deal.taunitid = taskunit.id
		AND deal. STATUS = 1
		GROUP BY
			com.id,
			com.title
	) a ORDER BY total DESC
    </select>
    <select id="selectDcdbInfos" resultType="java.util.HashMap">
		SELECT t.id tid, t.title ttitle,ta.id taid, ta.taskid tataskid, ta.worktype taworktype, ta.assigntime taassigntime, ta.assignmemo taassignmemo, ta.status tastatus,ta.charge tacharge,ta.phone taphone, ta.creatorid tacreatorid, ta.createtime tacreatetime, ta.closememo taclosememo,ta.endtime taendtime, CASE when sysdate()>tu.endtime then '已超期' else
		'未超期' end as is_exceed ,u.id uid,u.name uname,p.id pid,p.name pname,wt.title wtitle,e.step esstep
		,tu.id tuid, tu.tassignid tutassignid, tu.unitid tuunitid,tu.personid tupersonid, tu.endtime tuendtime, tu.requirements turequirements, tu.status tustatus, tu.updatetime tuupdatetime, tu.createtime tucreatetime,tu.istimely tuistimely,c.id cid,c.title ctitle , tud.id tudid, tud.taunitid tudtaunitid, tud.dealdesc tuddealdesc, tud.status tudstatus, tud.isdelay tudisdelay, tud.pretime tudpretime,tud.pictures tudpictures,tud.files tudfiles, tud.creatorid tudcreatorid,  tud.delaytime tuddelaytime, tud.creatorid tudcreatorid, tud.createtime tudcreatetime, tud.finishtime tudfinishtime
		FROM
		 td_taskassign ta Left JOIN td_task t  ON ta.taskid = t.id Left JOIN t_tb_work_type wt ON wt.id =
		ta.worktype
		Left JOIN t_tb_event_step e ON e.status=ta.status and e.event_type=1 Left JOIN sys_user u ON u.id = ta.creatorid Left JOIN td_taskassign_unit tu ON tu.tassignid =  ta.id  Left JOIN t_tb_company c ON c.id=tu.unitid LEFT JOIN td_taskassign_unitdeal tud ON tud.taunitid=tu.id Left JOIN sys_user p ON p.id = tu.personid
		<where>
			${ew.sqlSegment}
		</where>
	</select>
	<select id="selectMeetInfos" resultType="java.util.HashMap">
		SELECT  rec.unitid  unitid,c.title ctitle,ch.itemdesc chitemdesc,count(rec.id) total
		from (select
		id, meetingid, checkitemid, checkvalue, createtime, unitid,`name` from td_meetingrec
		<where>
			${ew.sqlSegment}
		</where>) rec
		left join t_tb_company c on c.id=rec.unitid
		left join td_checkitem ch on ch.id=rec.checkitemid
		group by c.id ORDER BY total DESC
	</select>
	<select id="selectDocInfos" resultType="java.util.HashMap">
		SELECT  rec.unitid  unitid,c.title ctitle,ch.itemdesc chitemdesc,count(rec.id) total
		from (select
		id, docassignid, checkitemid, checkvalue, createtime, unitid from td_doc_rec
		<where>
			${ew.sqlSegment}
		</where>) rec
		left join t_tb_company c on c.id=rec.unitid
		left join td_checkitem ch on ch.id=rec.checkitemid
		group by c.id ORDER BY total DESC
	</select>
	<select id="selectInfoInfos" resultType="java.util.HashMap">
		SELECT  rec.unitid  unitid,c.title ctitle,ch.itemdesc chitemdesc,sum(rec.checkvalue) total
		from (select
		id, infosid, checkitemid, checkvalue, createtime, unitid from td_infosrec
		<where>
			${ew.sqlSegment}
		</where>) rec
		left join t_tb_company c on c.id=rec.unitid
		left join td_checkitem ch on ch.id=rec.checkitemid
		group by c.id ORDER BY total DESC
	</select>
	<select id="countAssignStatus1" resultType="int" parameterType="com.baomidou.mybatisplus.mapper.Wrapper">
		select count(DISTINCT ta.id)
		FROM
		td_taskassign ta Left JOIN t_tb_work_type wt ON wt.id = ta.worktype
		 Left JOIN td_taskassign_unit tu ON tu.tassignid =  ta.id
		<where>
			${ew.sqlSegment}
		</where>
	</select>

</mapper>