<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.CompanyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.Company">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="abb_title" property="abbTitle" />
        <result column="order" property="order" />
        <result column="type" property="type" />
        <result column="adress" property="adress" />
        <result column="tel" property="tel" />
        <result column="contact" property="contact" />
        <result column="contact_phone" property="contactPhone" />
        <result column="remarks" property="remarks" />
        <result column="status" property="status" />
        <association property="unitType" javaType="cn.stylefeng.guns.modular.system.model.UnitType" >
            <id column="uid" property="id" />
            <result column="utitle" property="title" />
            <result column="ustatus" property="status" />
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, abb_title, `order`, `type`, adress, tel, contact, contact_phone, remarks, status
    </sql>
    <sql id="Base_More_List">
        c.id, c.title, c.abb_title, c.`order`, c.`type`, c.adress, c.tel, c.contact, c.contact_phone, c.remarks, c.status,u.id uid, u.title utitle, u.status ustatus
    </sql>
    <select id="selectMoreList" resultMap="BaseResultMap">
        SELECT <include refid="Base_More_List"/>
        FROM
        t_tb_company c LEFT JOIN t_tb_unit_type u ON u.id=c.type
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
</mapper>
