<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.DocAttrMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.DocAttr">
        <id column="id" property="id" />
        <result column="dassignid" property="dassignid" />
        <result column="attr_asset_id" property="attrAssetId" />
        <result column="createdtime" property="createdtime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, dassignid, attr_asset_id, createdtime
    </sql>

</mapper>
