<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.DocassignrecMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.Docassignrec">
        <id column="id" property="id" />
        <result column="docassignid" property="docassignid" />
        <result column="checkitemid" property="checkitemid" />
        <result column="checkvalue" property="checkvalue" />
        <result column="createtime" property="createtime" />
        <result column="unitid" property="unitid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, docassignid, checkitemid, checkvalue, createtime, unitid
    </sql>
    <select id="getInfoByPid" resultType="java.util.HashMap">
        SELECT c.title ctitle ,
        <if test="courses != null">
            <foreach collection="courses" item="item" separator=",">
                CASE rec.checkitemid WHEN ${item.id} THEN rec.checkvalue ElSE 0 END  "${item.id}"
            </foreach>
        </if>
        from td_docassignrec rec
        left join t_tb_company c on c.id=rec.unitid

        <where>
            ${ew.sqlSegment}
        </where>

    </select>
</mapper>
