<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.DocMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.Doc">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="unitid" property="unitid" />
        <result column="doctype" property="doctype" />
        <result column="assignmemo" property="assignmemo" />
        <result column="currecvid" property="currecvid" />
        <result column="currecv" property="currecv" />
        <result column="creatorid" property="creatorid" />
        <result column="closememo" property="closememo" />
        <result column="assign_time" property="assignTime" />
        <result column="end_time" property="endTime" />
        <result column="status" property="status" />
    </resultMap>
    <resultMap id="BaseMoreMap" type="cn.stylefeng.guns.modular.system.model.Doc">
        <id column="mid" property="id" />
        <result column="mtitle" property="title" />
        <result column="munitid" property="unitid" />
        <result column="mdoctype" property="doctype" />
        <result column="massignmemo" property="assignmemo" />
        <result column="mcurrecvid" property="currecvid" />
        <result column="mcurrecv" property="currecv" />
        <result column="mcreatorid" property="creatorid" />
        <result column="mclosememo" property="closememo" />
        <result column="massign_time" property="assignTime" />
        <result column="mend_time" property="endTime" />
        <result column="mstatus" property="status" />
        <association property="createuser" javaType="cn.stylefeng.guns.modular.system.model.User">
            <id column="uid" property="id"/>
            <result column="uname" property="name"/>
        </association>
        <association property="eventStep" javaType="cn.stylefeng.guns.modular.system.model.EventStep">
            <id column="esid" property="id"/>
            <result column="espid" property="pid"/>
            <result column="esstatus" property="status"/>
            <result column="esevent_type" property="eventType"/>
            <result column="esstep" property="step"/>
        </association>
        <collection property="docRecs" ofType="cn.stylefeng.guns.modular.system.model.DocRec">
            <id column="mrid" property="id" />
            <result column="mrdocassignid" property="docassignid" />
            <result column="mrcheckitemid" property="checkitemid" />
            <result column="mrcheckvalue" property="checkvalue" />
            <result column="mrcreatetime" property="createtime" />
            <result column="mrunitid" property="unitid" />
            <association property="checkitem" javaType="cn.stylefeng.guns.modular.system.model.Checkitem">
                <result column="chitemdesc" property="itemdesc" />
            </association>
        </collection>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, unitid, doctype, assignmemo, currecvid, currecv, creatorid, closememo, assign_time, end_time, status
    </sql>
    <sql id="AS_Column_List">
        m.id mid, m.title mtitle, m.unitid munitid, m.doctype mdoctype, m.assignmemo massignmemo, m.currecvid mcurrecvid, m.currecv mcurrecv, m.creatorid mcreatorid, m.closememo mclosememo, m.assign_time massign_time, m.end_time mend_time, m.status mstatus,u.id uid, u.name uname,es.id esid,es.pid espid,es.status esstatus,es.event_type esevent_type,es.step esstep ,mr.id mrid, mr.docassignid mrdocassignid, mr.checkitemid mrcheckitemid, mr.checkvalue mrcheckvalue, mr.createtime mrcreatetime, mr.unitid mrunitid
    </sql>
    <sql id="base_with">
        FROM
        td_doc m LEFT JOIN td_doc_rec mr ON mr.docassignid = m.id
        LEFT JOIN t_tb_event_step es ON es.status=m.status and es.event_type=3 LEFT JOIN sys_user u ON u.id = m.creatorid
    </sql>
    <select id="selectWithManyById" resultMap="BaseMoreMap">
        SELECT <include refid="AS_Column_List"/>,(select itemdesc from  td_checkitem ch where id=mr.checkitemid) chitemdesc
        <include refid="base_with"/>
          WHERE m.id=#{id}
    </select>
    <select id="selectAsPage" resultMap="BaseMoreMap">
        SELECT <include refid="AS_Column_List"/>,(select itemdesc from  td_checkitem ch where id=mr.checkitemid) chitemdesc
        <include refid="base_with"/>
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
    <select id="selectAsMore" resultMap="BaseMoreMap">
        SELECT <include refid="AS_Column_List"/> ,(select itemdesc from  td_checkitem ch where id=mr.checkitemid) chitemdesc
        <include refid="base_with"/>
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
    <select id="selectAsCount" resultType="java.lang.Long">
        SELECT count(m.id)
        <include refid="base_with"/>
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
</mapper>
