<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.DocRecMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.DocRec">
        <id column="id" property="id" />
        <result column="docassignid" property="docassignid" />
        <result column="checkitemid" property="checkitemid" />
        <result column="checkvalue" property="checkvalue" />
        <result column="createtime" property="createtime" />
        <result column="unitid" property="unitid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, docassignid, checkitemid, checkvalue, createtime, unitid
    </sql>
    <select id="getInfoByPid" resultType="java.util.HashMap">
        SELECT c.title ctitle ,mr.unitid unitid,
        fn_getdhis(AVG(TIMESTAMPDIFF(SECOND,m.assign_time,ifnull(m.end_time,sysdate())))) pjsj,
        count(m.id) total,
        <if test="courses != null">
            <foreach collection="courses" item="item" separator=",">
                sum(CASE mr.checkitemid WHEN ${item.id} THEN 1 ElSE 0 END)  "${item.id}"
            </foreach>
        </if>
        from t_tb_company c left join td_doc_rec mr on c.id=mr.unitid LEFT JOIN td_doc m  ON mr.docassignid = m.id
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
    <select id="getInfoByPidPage" resultType="java.util.HashMap">
        SELECT c.title ctitle ,mr.unitid unitid,
        fn_getdhis(AVG(TIMESTAMPDIFF(SECOND,m.assign_time,ifnull(m.end_time,sysdate())))) pjsj,
        count(m.id) total,
        <if test="courses != null">
            <foreach collection="courses" item="item" separator=",">
                sum(CASE mr.checkitemid WHEN ${item.id} THEN 1 ElSE 0 END)  "${item.id}"
            </foreach>
        </if>
        from t_tb_company c left join td_doc_rec mr on c.id=mr.unitid LEFT JOIN td_doc m  ON mr.docassignid = m.id

        <where>
            ${ew.sqlSegment}
        </where>
    </select>
    <select id="export" resultType="java.util.HashMap">
        SELECT c.title title ,c.id unitid,
        fn_getdhis(AVG(TIMESTAMPDIFF(SECOND,m.assign_time,ifnull(m.end_time,sysdate())))) pjsj,
        count(m.id) total,
        <if test="courses != null">
            <foreach collection="courses" item="item" separator=",">
                SUM(CASE mr.checkitemid WHEN ${item.id} THEN 1 ElSE 0 END)  "${item.id}"
            </foreach>
        </if>
        from t_tb_company c left join td_doc_rec mr on c.id=mr.unitid LEFT JOIN td_doc m  ON mr.docassignid = m.id
        <if test="@cn.stylefeng.roses.core.util.ToolUtil@isNotEmpty(sreachDto.beforeTime)">and <![CDATA[ m.assign_time >= #{sreachDto.beforeTime,jdbcType=TIMESTAMP}]]></if>
        <if test="@cn.stylefeng.roses.core.util.ToolUtil@isNotEmpty(sreachDto.afterTime)">and <![CDATA[ m.assign_time <= #{sreachDto.afterTime,jdbcType=TIMESTAMP}]]></if>
        <if test="@cn.stylefeng.roses.core.util.ToolUtil@isNotEmpty(sreachDto.creatorid)">and <![CDATA[ m.creatorid = #{sreachDto.creatorid}]]></if>
        <if test="@cn.stylefeng.roses.core.util.ToolUtil@isNotEmpty(sreachDto.title)">and <![CDATA[ m.title like CONCAT('%',#{sreachDto.title},'%') ]]></if>
        <if test="@cn.stylefeng.roses.core.util.ToolUtil@isNotEmpty(sreachDto.status)">and <![CDATA[ m.status = #{sreachDto.status}]]></if>
        GROUP BY c.id ORDER BY c.id asc, mr.createtime
    </select>
</mapper>
