<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.InfosrecMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.Infosrec">
        <id column="id" property="id" />
        <result column="infosid" property="infosid" />
        <result column="checkitemid" property="checkitemid" />
        <result column="checkvalue" property="checkvalue" />
        <result column="createtime" property="createtime" />
        <result column="unitid" property="unitid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, infosid, checkitemid, checkvalue, createtime, unitid
    </sql>
    <select id="getInfoByPid" resultType="java.util.HashMap">
        SELECT c.title ctitle ,rec.unitid unitid,rec.id id,
        <if test="courses != null">
            <foreach collection="courses" item="item" separator=",">
                MAX(CASE rec.checkitemid WHEN ${item.id} THEN rec.checkvalue ElSE 0 END)  "${item.id}"
            </foreach>
        </if>
        from td_infosrec rec
        left join t_tb_company c on c.id=rec.unitid

        <where>
            ${ew.sqlSegment}
        </where>
        GROUP BY rec.unitid
    </select>
    <select id="export" resultType="java.util.HashMap">
        SELECT c.title title ,c.id unitid,
        <if test="courses != null">
            <foreach collection="courses" item="item" separator=",">
                sum(CASE rec.checkitemid WHEN ${item.id} THEN rec.checkvalue ElSE 0 END)  "${item.id}"
            </foreach>
        </if>
        from t_tb_company c left join td_infosrec rec on c.id=rec.unitid LEFT JOIN td_infos m  ON rec.infosid = m.id
        <if test="@cn.stylefeng.roses.core.util.ToolUtil@isNotEmpty(sreachDto.beforeTime)">and <![CDATA[ m.mtime >= #{sreachDto.beforeTime,jdbcType=TIMESTAMP}]]></if>
        <if test="@cn.stylefeng.roses.core.util.ToolUtil@isNotEmpty(sreachDto.afterTime)">and <![CDATA[ m.mtime <= #{sreachDto.afterTime,jdbcType=TIMESTAMP}]]></if>
        <if test="@cn.stylefeng.roses.core.util.ToolUtil@isNotEmpty(sreachDto.creatorid)">and <![CDATA[ m.creatorid = #{sreachDto.creatorid}]]></if>
        <if test="@cn.stylefeng.roses.core.util.ToolUtil@isNotEmpty(sreachDto.title)">and <![CDATA[ m.title like CONCAT('%',#{sreachDto.title},'%') ]]></if>
        <if test="@cn.stylefeng.roses.core.util.ToolUtil@isNotEmpty(sreachDto.status)">and <![CDATA[ m.status = #{sreachDto.status}]]></if>
        GROUP BY c.id ORDER BY c.id asc, rec.createtime
    </select>
    <select id="selectSumCheckItem" resultType="java.util.HashMap">
        SELECT
        <if test="courses != null">
            <foreach collection="courses" item="item" separator=",">
                sum(CASE checkitemid WHEN ${item.id} THEN checkvalue ElSE 0 END)  "${item.id}"
            </foreach>
        </if>
        from  td_infosrec
    </select>
</mapper>
