<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.MeetingSituationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.MeetingSituation">
        <result column="m_id" property="mId"/>
        <result column="s_id" property="sId"/>
        <result column="company_id" property="companyId"/>
        <result column="number" property="number"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        m_id, s_id, company_id, number
    </sql>

</mapper>
