<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.ReportMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.Report">
        <id column="id" property="id" />
        <result column="group_id" property="groupId" />
        <result column="event_type" property="eventType" />
        <result column="company_id" property="company_id" />
        <result column="row_name" property="rowName" />
        <result column="val" property="val" />
        <result column="created_time" property="createdTime" />
        <association property="group" javaType="cn.stylefeng.guns.modular.system.model.ReportGroup"
                     column="group_id"
                     select="cn.stylefeng.guns.modular.system.dao.ReportGroupMapper.selectById">
        </association>
        <association property="company" javaType="cn.stylefeng.guns.modular.system.model.Company"
                     column="company_id"
                     select="cn.stylefeng.guns.modular.system.dao.CompanyMapper.selectById">
        </association>
        <association property="eventTypeObj" javaType="cn.stylefeng.guns.modular.system.model.EventType"
                     column="event_type"
                     select="cn.stylefeng.guns.modular.system.dao.EventTypeMapper.selectById">
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, group_id, event_type, company_id, row_name, val, created_time
    </sql>
    <select id="selectByUnitCount" resultType="java.util.LinkedHashMap">
        call AnalysisReport(#{beforeTime,jdbcType=TIMESTAMP},#{afterTime,jdbcType=TIMESTAMP})
    </select>
    <select id="selectByUnitOnlyCount" resultType="java.util.LinkedHashMap">
select comp.title,Totalnum,concat(case when Totalnum>0 then cast(DealSuccNum*100.0/Totalnum as decimal(18,2)) else 0.00 end,'%') asbjl
		,Totalnum-DealSuccNum as notdealnum,case when DealSuccNum>0 then cast(DealDate*1.0/DealSuccNum as signed) else 0 end bjts
	from
    (
        select com.title,com.id,sum(case when taskunit.status=4 then 1 else 0 end) as DealSuccNum,sum(case when taskunit.id is
        not null then 1 else 0 end)Totalnum
        ,sum(case when taskunit.status=4 then cast(timestampdiff(SECOND,taskunit.createtime,taskunit.endtime)/86400 as
        signed) else 0 end)as DealDate
        from t_tb_company com
        left join td_taskassign_unit taskunit on taskunit.unitid=com.id  and taskunit.createtime between #{beforeTime,jdbcType=TIMESTAMP} and #{afterTime,jdbcType=TIMESTAMP}
        group by com.id,com.title
	 ) comp
    </select>
    <select id="selectByPersionCount" resultType="java.util.HashMap">
        select user.name,ifnull(taskCrenum,0) taskCrenum,ifnull(unitnum,0) unitnum ,ifnull(dealnum,0) dealnum, ifnull(meetnum,0) meetnum,ifnull(assignnum,0) assignnum,ifnull(infonum,0) infonum
        from sys_user user
        left join (select creatorid,count(1)as taskCrenum from td_taskassign where createtime between #{beforeTime,jdbcType=TIMESTAMP} and #{afterTime,jdbcType=TIMESTAMP} group by creatorid )CreT on CreT.creatorid=`user`.id
        left join (select personid,count(1) as unitnum from td_taskassign_unit where  createtime between #{beforeTime,jdbcType=TIMESTAMP} and #{afterTime,jdbcType=TIMESTAMP} group by personid ) UnitT on UnitT.personid=`user`.id
        left join (select personid,count(1) as dealnum from (select personid from td_taskassign_unit units where  units.createtime between #{beforeTime,jdbcType=TIMESTAMP} and #{afterTime,jdbcType=TIMESTAMP}   group by personid,tassignid)a group by personid )DealT on DealT.personid=`user`.id
        left join (select creatorid,count(1) as meetnum from td_meeting where  mtime between #{beforeTime,jdbcType=TIMESTAMP} and #{afterTime,jdbcType=TIMESTAMP} group by creatorid  )meeT on meeT.creatorid=`user`.id
        left join (select creatorid,count(1) as assignnum from td_docassign where  createtime between #{beforeTime,jdbcType=TIMESTAMP} and #{afterTime,jdbcType=TIMESTAMP} group by creatorid )DocT on DocT.creatorid=`user`.id
        left join (select creatorid,count(1) as infonum from td_infos where mtime between #{beforeTime,jdbcType=TIMESTAMP} and #{afterTime,jdbcType=TIMESTAMP}  group by creatorid  )infoT on infoT.creatorid=`user`.id

    </select>
    <select id="selectByAffairCount" resultType="java.util.HashMap">
        select titlename,max(case when name=1 then num else 0 end ) as 'one',max(case when name=2 then num else 0 end ) as 'two'
        ,max(case when name=3 then num else 0 end ) as 'three',max(case when name=4 then num else 0 end ) as 'four',max(case when name=5 then num else 0 end ) as 'five'
        ,max(case when name=6 then num else 0 end ) as 'six',max(case when name=7 then num else 0 end ) as 'seven',max(case when name=8 then num else 0 end ) as 'eight'
        ,max(case when name=9 then num else 0 end ) as 'nine',max(case when name=10 then num else 0 end ) as 'ten',max(case when name=11 then num else 0 end ) as 'eleven'
        ,max(case when name=12 then num else 0 end ) as 'twelve'
        from (
        select '督办事项'as titlename,td.name,sum(if(tak.id is null,0,1)) as num,1 as colsort
        from t_td_date td
        left join td_taskassign tak on td.name=month(tak.createtime) and year(tak.createtime)=year(#{beforeTime,jdbcType=TIMESTAMP})
        group by td.name
        union all

        select '区委会议'as titlename,td.name,sum(if(meet.id is null,0,1))  as num,2 as colsort
        from t_td_date td
        left join td_meeting meet on td.name=month(meet.mtime)  and year(meet.mtime)=year(#{beforeTime,jdbcType=TIMESTAMP})
        group by td.name
        union all

        select '区委公文'as titlename,td.name,sum(if(doc.id is null,0,1)) as num,3 as colsort
        from t_td_date td
        left join td_docassign doc on  td.name=month(doc.createtime)  and year(doc.createtime)=year(#{beforeTime,jdbcType=TIMESTAMP})
        group by td.name
        union all

        select '区委信息'as titlename,td.name,sum(if(info.id is null,0,1)) as num,4 as colsort
        from t_td_date td
        left join td_infos info on td.name=month(info.mtime)  and year(info.mtime)=year(#{beforeTime,jdbcType=TIMESTAMP})
        group by td.name
        ) a
        group by titlename order by colsort
    </select>

    <!-- 图表 -->
    <select id="selectByUnitChartCount" resultType="java.util.HashMap">
        select GROUP_CONCAT(title)as title,GROUP_CONCAT(NotDealSuccNum) as NotDealSuccNum,GROUP_CONCAT(avgDate)as avgDate,GROUP_CONCAT(DealSuccNum)as DealSuccNum
        ,GROUP_CONCAT(Totalnum)as Totalnum
        from (
        select title,Totalnum-DealSuccNum as NotDealSuccNum,case when DealSuccNum>0 then cast(DealDate*1.0/DealSuccNum
        as signed) else 0 end avgDate,Totalnum
        ,concat(case when Totalnum>0 then cast(DealSuccNum*100.0/Totalnum as decimal(18,2)) else 0.00 end,'%')avgrate,DealSuccNum
        from (
        select com.title,sum(case when taskunit.status=4 then 1 else 0 end) as DealSuccNum,sum(case when taskunit.id is
        not null then 1 else 0 end)Totalnum
        ,sum(case when taskunit.status=4 then cast(timestampdiff(SECOND,taskunit.createtime,taskunit.endtime)/86400 as
        signed) else 0 end)as DealDate
        from t_tb_company com
        left join td_taskassign_unit taskunit on taskunit.unitid=com.id  and taskunit.createtime between #{beforeTime,jdbcType=TIMESTAMP} and #{afterTime,jdbcType=TIMESTAMP}
        group by com.id,com.title
        )a
        )b
    </select>
    <select id="selectByPersionChartCount" resultType="java.util.HashMap">
        select GROUP_CONCAT(name)as name,GROUP_CONCAT(unitnum)as unitnum,GROUP_CONCAT(dealnum)as dealnum,GROUP_CONCAT(taskCrenum)as taskCrenum
        ,GROUP_CONCAT(meetnum)as meetnum,GROUP_CONCAT(assignnum)as assignnum,GROUP_CONCAT(infonum)as infonum
        from (
        select user.name,ifnull(taskCrenum,0) taskCrenum,ifnull(unitnum,0) unitnum ,ifnull(dealnum,0) dealnum, ifnull(meetnum,0) meetnum,ifnull(assignnum,0) assignnum,ifnull(infonum,0) infonum
        from sys_user user
        left join (select creatorid,count(1)as taskCrenum from td_taskassign where createtime between #{beforeTime,jdbcType=TIMESTAMP} and #{afterTime,jdbcType=TIMESTAMP} group by creatorid )CreT on CreT.creatorid=`user`.id
        left join (select personid,count(1) as unitnum from td_taskassign_unit where  createtime between #{beforeTime,jdbcType=TIMESTAMP} and #{afterTime,jdbcType=TIMESTAMP} group by personid ) UnitT on UnitT.personid=`user`.id
        left join (select personid,count(1) as dealnum from (select personid from td_taskassign_unit units where  units.createtime between #{beforeTime,jdbcType=TIMESTAMP} and #{afterTime,jdbcType=TIMESTAMP}   group by personid,tassignid)a group by personid )DealT on DealT.personid=`user`.id
        left join (select creatorid,count(1) as meetnum from td_meeting where  mtime between #{beforeTime,jdbcType=TIMESTAMP} and #{afterTime,jdbcType=TIMESTAMP} group by creatorid  )meeT on meeT.creatorid=`user`.id
        left join (select creatorid,count(1) as assignnum from td_docassign where  createtime between #{beforeTime,jdbcType=TIMESTAMP} and #{afterTime,jdbcType=TIMESTAMP} group by creatorid )DocT on DocT.creatorid=`user`.id
        left join (select creatorid,count(1) as infonum from td_infos where mtime between #{beforeTime,jdbcType=TIMESTAMP} and #{afterTime,jdbcType=TIMESTAMP}  group by creatorid  )infoT on infoT.creatorid=`user`.id
        )a
    </select>
    <select id="selectByAffairChartCount" resultType="java.util.HashMap">
        select titlename,group_concat(num order by cast(name as SIGNED) asc)as num from (
        select '督办事项'as titlename,td.name,sum(if(tak.id is null,0,1)) as num,1 as colsort
        from t_td_date td
        left join td_taskassign tak on td.name=month(tak.createtime) and year(tak.createtime)=year(#{beforeTime,jdbcType=TIMESTAMP})
        group by td.name
        union all

        select '区委会议'as titlename,td.name,sum(if(meet.id is null,0,1))  as num,2 as colsort
        from t_td_date td
        left join td_meeting meet on td.name=month(meet.mtime)  and year(meet.mtime)=year(#{beforeTime,jdbcType=TIMESTAMP})
        group by td.name
        union all

        select '区委公文'as titlename,td.name,sum(if(doc.id is null,0,1)) as num,3 as colsort
        from t_td_date td
        left join td_docassign doc on  td.name=month(doc.createtime)  and year(doc.createtime)=year(#{beforeTime,jdbcType=TIMESTAMP})
        group by td.name
        union all

        select '区委信息'as titlename,td.name,sum(if(info.id is null,0,1)) as num,4 as colsort
        from t_td_date td
        left join td_infos info on td.name=month(info.mtime)  and year(info.mtime)=year(#{beforeTime,jdbcType=TIMESTAMP})
        group by td.name
        )b group by titlename,colsort order by colsort
    </select>
    <select id="selectByMeetChartCount" resultType="java.util.HashMap">
        select itemdesc,GROUP_CONCAT(title order by comid) as grouptitle,GROUP_CONCAT(num order by comid)as groupvalue from (
        select Tab.itemdesc,Tab.title,sum(if(meeting.id is null,0,meeting.checkvalue)) as num,comid
        from (select item.id,item.itemdesc,com.title,com.id as comid from td_checkitem item,t_tb_company com  where item.itemclass=2)Tab
        left join td_meetingrec meeting on meeting.checkitemid=Tab.id and Tab.comid=meeting.unitid
        and meeting.createtime  between #{beforeTime,jdbcType=TIMESTAMP} and #{afterTime,jdbcType=TIMESTAMP}
        group by Tab.itemdesc,Tab.title,comid
        )a
        group by itemdesc

    </select>
    <select id="selectByDocChartCount" resultType="java.util.HashMap">
        select itemdesc,GROUP_CONCAT(title order by comid) grouptitle,GROUP_CONCAT(num order by comid) as groupvalue from (
        select Tab.itemdesc,Tab.title,sum(if(doc.id is null,0,doc.checkvalue)) as num,comid
        from (select item.id,item.itemdesc,com.title,com.id as comid from td_checkitem item,t_tb_company com  where item.itemclass=3)Tab
        left join td_docassignrec doc on doc.checkitemid=Tab.id and Tab.comid=doc.unitid
        and doc.createtime between #{beforeTime,jdbcType=TIMESTAMP} and #{afterTime,jdbcType=TIMESTAMP}
        group by Tab.itemdesc,Tab.title,comid
        )a
        group by itemdesc
    </select>
    <select id="selectByInfoChartCount" resultType="java.util.HashMap">
        select itemdesc,GROUP_CONCAT(title order by comid) grouptitle,GROUP_CONCAT(num order by comid) as groupvalue from (
        select Tab.itemdesc,Tab.title,sum(if(info.id is null,0,info.checkvalue)) as num,comid
        from (select item.id,item.itemdesc,com.title,com.id as comid from td_checkitem item,t_tb_company com  where item.itemclass=4)Tab
        left join td_infosrec info on info.checkitemid=Tab.id and Tab.comid=info.unitid
        and info.createtime between #{beforeTime,jdbcType=TIMESTAMP} and #{afterTime,jdbcType=TIMESTAMP}
        group by Tab.itemdesc,Tab.title,comid
        )a
        group by itemdesc

    </select>
</mapper>
