<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.TaskassignMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.Taskassign">
        <id column="id" property="id" />
        <result column="taskid" property="taskid" />
        <result column="worktype" property="worktype" />
        <result column="assigntime" property="assigntime" />
        <result column="assignmemo" property="assignmemo" />
        <result column="status" property="status" />
        <result column="creatorid" property="creatorid" />
        <result column="createtime" property="createtime" />
        <result column="closememo" property="closememo" />
        <result column="endtime" property="endtime" />
        <result column="is_exceed" property="is_exceed"/>
        <association property="createuser" javaType="cn.stylefeng.guns.modular.system.model.User">
            <id column="uid" property="id"/>
            <result column="name" property="name"/>
        </association>
        <association property="workType" javaType="cn.stylefeng.guns.modular.system.model.WorkType">
            <id column="wtid" property="id"/>
            <result column="title" property="title"/>
        </association>
        <association property="eventStep" javaType="cn.stylefeng.guns.modular.system.model.EventStep">
            <id column="esid" property="id"/>
            <result column="pid" property="pid"/>
            <result column="status" property="status"/>
            <result column="event_type" property="eventType"/>
            <result column="step" property="step"/>
        </association>
        <collection property="taskassignUnits" ofType="cn.stylefeng.guns.modular.system.model.TaskassignUnit">
            <id column="unitid" property="id" />
            <result column="tassignid" property="tassignid" />
            <result column="unitid" property="unitid" />
            <result column="personid" property="personid" />
            <result column="endtime" property="endtime" />
            <result column="requirements" property="requirements" />
            <result column="status" property="status" />
            <result column="updatetime" property="updatetime" />
            <result column="createtime" property="createtime" />
        </collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, taskid, worktype, assigntime, assignmemo, status, creatorid, createtime, closememo,endtime
    </sql>

</mapper>
