<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.VersionUpgradeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.VersionUpgrade">
        <id column="id" property="id"/>
        <result column="app_type" property="appType"/>
        <result column="version_id" property="versionId"/>
        <result column="version_mini" property="versionMini"/>
        <result column="version_code" property="versionCode"/>
        <result column="type" property="type"/>
        <result column="apk_url" property="apkUrl"/>
        <result column="upgrade_point" property="upgradePoint"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="content" property="content"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, app_type, version_id, version_mini, version_code, type, apk_url, upgrade_point, status, create_time, update_time,content
    </sql>

</mapper>
