<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.WcInfosMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.WcInfos">
        <id column="id" property="id"/>
        <result column="pid" property="pid"/>
        <result column="situation" property="situation"/>
        <result column="submitter" property="submitter"/>
        <result column="created_time" property="createdTime"/>
        <result column="situation_type" property="situationType"/>
        <result column="delay_status" property="delayStatus"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pid, situation, submitter, created_time, situation_type, delay_status
    </sql>

</mapper>
