@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="title" name="单位名称" value="${item.title}" underline="true" hidden="id"
                    hiddenValue="${item.id}"/>
                    <#input id="abbTitle" name="简称" value="${item.abbTitle}" underline="true"/>
                    <#input id="adress" name="地址" value="${item.adress}" />
                    <#input id="tel" name="联系电话" value="${item.tel}" underline="true"/>
                </div>

                <div class="col-sm-6">

                    <#input id="contact" name="负责人" value="${item.contact}" underline="true"/>
                    <#input id="contactPhone" name="负责人电话" value="${item.contactPhone}" underline="true"/>
                    <#input id="remarks" name="详细信息" value="${item.remarks}" />
                    <#select id="status" name="是否可用">
                    <option value="1"
                            @if(item.status==1){
                            selected
                            @}
                    >是</option>
                    <option value="0"
                            @if(item.status==0){
                            selected
                            @}
                    >否</option>
                </#select>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check"
                    clickFun="CompanyInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="CompanyInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/DcCompany/company/company_info.js"></script>
@}
