<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>督察督办报表</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" type="text/css" href="http://unpkg.com/iview/dist/styles/iview.css">
    <script type="text/javascript" src="http://vuejs.org/js/vue.min.js"></script>
    <script type="text/javascript" src="http://unpkg.com/iview/dist/iview.min.js"></script>
    <script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/url.js"></script>
</head>
<body>
<div id="app" style="margin-top: 40px;">
    <i-table :data="assignWorkList.records" :columns="tableColumns1" stripe border></i-table>
    <div style="margin: 10px;overflow: hidden">
        <div style="float: right;">
            <Page :total="assignWorkList.total" show-total show-sizer @on-change="changePage"
                  on-page-size-change="onPageSizeChange"></Page>
        </div>
    </div>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            tableColumns1: [
                {
                    title: '交办时间',
                    key: 'createdTime',
                    tooltip: true
                },
                {
                    title: '交办事项',
                    key: 'title',
                    tooltip: true
                },
                {
                    title: '责任单位',
                    key: 'workCompanies',
                    tooltip: true,
                    render: (h, params) = > {
                    return h('ul', params.row.workCompanies.map(item = > {
                        return h('li', {
                            style: {
                                textAlign: 'center',
                                padding: '4px'
                            }
                        }, item.company.title)
                    }))
    }

    },
    {
        title: '督办责任人',
            key
    :
        'brokerName',
            tooltip
    :
        true
    }
    ,
    {
        title: '办理要求',
            key
    :
        'requirement',
            tooltip
    :
        true
    }
    ,
    {
        title: '办理用时',
            key
    :
        'endTime',
            tooltip
    :
        true,
            render
    :
        (h, params) =
    >
        {
            return h('p', {
                style: {
                    display: 'block',
                    textAlign: 'center',
                    color: '#FF3333',
                    padding: '4px'
                }
            }, getHandleTime(params.row.createdTime, params.row.endTime));
        }
    }
    ,
    {
        title: '事项进度',
            key
    :
        'workFlowLogs',
            tooltip
    :
        true,
            render
    :
        (h, params) =
    >
        {
            return h('ul', params.row.workFlowLogs.map(item = > {
                return h('li', {
                    style: {
                        display: 'block',
                        textAlign: 'left',
                        padding: '4px'
                    }
                }, item.eventStep.step)
            })
        )
        }
    }
    ],
    assignWorkList: '',
        search
    :
    {
        title: '',
            workType
    :
        '',
            afterTime
    :
        "",
            agent
    :
        "",
            beforeTime
    :
        "",
            brokerName
    :
        '',
            delayStatus
    :
        "",
            limit
    :
        10,
            page
    :
        1,
            status
    :
        []
    }
    },
    mounted: function () {
        this.$nextTick(function () {
            this.getData();
        })
    }
    ,
    methods: {
        getData: function () {
            var _self = this;
            $.apiAjax({
                type: "POST",
                url: apiUrl.ApiassignWorkList,
                alert: false,
                data: JSON.stringify(_self.search),
                success: function (ret) {
                    _self.assignWorkList = ret;
                }
            })
        }
    ,
        changePage(value)
        {
            this.search.page = value;
            this.getData();
        }
    ,
        onPageSizeChange(value)
        {
            this.search.limit = value;
            this.getData();

        }
    }
    })
</script>
</body>
</html>