<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>欢迎登录后台管理系统--区委办督查督办系统</title>
    <link rel="Bookmark" href="/favicon.ico">
    <link rel="Shortcut Icon" href="/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"/>
    <script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script>
    <script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="lib/datatables/1.10.15/jquery.dataTables.min.js"></script>
    <script src="js/url.js"></script>

</head>

<body>
<article class="page-container" style="width: 100%;">
    <form class="form form-horizontal" id="form-article-add">
        <table id="RowData" style="width: 100%;">
            <tr id="Row_0" name="Row">
                <td style="width: 40%;">
                    <div>
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-2"></label>
                            <div class="formControls col-xs-8 col-sm-9">
                                <button name="updatespeed" class="btn btn-secondary radius"
                                        style="background-color: #008200;" type="button">更新进度
                                </button>
                            </div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>部门名称：</label>
                            <div class="formControls col-xs-8 col-sm-9">
                                <input type="text" id="id" name="id" hidden/>
                                <div class="ui-select" type="select" id="companyId" name="companyId"></div>
                            </div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-xs-2">完成时限：</label>
                            <div class="formControls col-xs-3">
                                <input type="text" class="input-text" value="" placeholder="" id="deadline"
                                       name="deadline" onclick="WdatePicker({ minDate: '%y-%M-#{%d}' })"
                                       readonly/>
                            </div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-2">办理要求：</label>
                            <div class="formControls col-xs-8 col-sm-9">
                                <textarea style="width:100%;height:100px;resize: none;" id="requirement"
                                          name="requirement"></textarea>
                            </div>

                        </div>
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-2">状态：</label>
                            <div class="formControls col-xs-8 col-sm-9">
                                <div class="ui-select" type="select" id="status" name="status"></div>
                            </div>
                        </div>
                        <div class="row cl" name="divsituation" id="divsituation" style="display: none;">
                            <label class="form-label col-xs-4 col-sm-2">完成总结：</label>
                            <div class="formControls col-xs-8 col-sm-9">
                                <textarea style="width:100%;height:100px;resize: none;" id="situation"
                                          name="situation"></textarea>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="mt-20">
                        <table id="mytabledtlist" name="mytabledtlist" style="width:85%;margin-right: 40px;"
                               class="table table-border table-bordered table-bg table-hover table-sort"></table>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2"><br/>
                    <hr/>
                </td>
            </tr>
        </table>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button onClick="article_save();" class="btn btn-secondary radius" type="button"><i
                        class="Hui-iconfont">&#xe632;</i>
                    保存提交
                </button>
                <button onClick="article_cancel();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</article>
</body>
</html>
<script type="text/javascript">
    var awid = request('id');
    var ComData = [];
    $(function () {
        awid = 39;
        var Rowdatahtml = $("#Row_0").html();
        $.apiAjax({
            type: "Get",
            alert: false,
            url: apiUrl.ApicompanyList,
            success: function (ret) {
                ComData = ret;
            }
        });
        $.apiAjax({
            type: "Get",
            alert: false,
            url: apiUrl.ApiworkCompanyList + "/" + awid,
            success: function (ret) {
                if (ret.length == 0) {
                    $("#RowData").htmlText("");
                    return;
                }
                for (var i = 0; i < ret.length; i++) {
                    if (i > 0) {
                        var $htmldiv = "<tr id=\"Row_" + i + "\" name=\"Row\">" + Rowdatahtml + "</tr><tr><td colspan=\"2\"><br/><hr/></td></tr>";
                        $("#RowData").append($htmldiv);
                    }
                    var data = ret[i];
                    var $Row = $("#Row_" + i);
                    var $id = $Row.find("input[name=id]");
                    var $companyId = $Row.find("div[name=companyId]");
                    var $deadline = $Row.find("input[name=deadline]");
                    var $requirement = $Row.find("textarea[name=requirement]");
                    var $status = $Row.find("div[name=status]");
                    var $divsituation = $Row.find("div[name=divsituation]");
                    var $situation = $Row.find("textarea[name=situation]");
                    var $updatespeed = $Row.find("button[name=updatespeed]");
                    var $mytabledtlist = $Row.find("table[name=mytabledtlist]");
                    $companyId.attr("id", "companyId_" + i);
                    $status.attr("id", "status_" + i);
                    $requirement.attr("id", "requirement_" + i);
                    $deadline.attr("id", "deadline_" + i);
                    $id.attr("id", "id_" + i);
                    $situation.attr("id", "situation_" + i);
                    $divsituation.attr("id", "divsituation_" + i);
                    $updatespeed.attr("onclick", "Updatemethod(" + data.id + ")");
                    $mytabledtlist.attr("id", "mytabledtlist_" + data.id);
                    $("#companyId_" + i).ComboBox({
                        data: ComData,
                        id: "id",
                        text: "abbTitle",
                        description: "==请选择=="
                    });
                    $status.ComboBox({
                        data: [{
                            name: "未完成",
                            value: 0
                        }, {
                            name: "完成",
                            value: 1
                        }],
                        id: "value",
                        text: "name",
                        description: "==请选择==",
                        onSelect: function (value, text, obj) {
                            var id = $(obj).attr("id");
                            var num = id.substring(id.indexOf("_"), id.length);
                            if (value == 1) {
                                $("#divsituation" + num).css("display", "");
                            } else {
                                $("#divsituation" + num).css("display", "none");
                                $("#situation" + num).val("");
                            }
                        }
                    });
                    $companyId.ComboBoxSetValue(data.companyId);
                    $requirement.val(data.requirement);
                    $deadline.val(data.deadline);
                    $status.ComboBoxSetValue(data.status);
                    $id.val(data.id);
                    GetUpdateList(data.id);
                }
            }
        });
    });

    function article_save() {
        $("tr[name=Row]").each(function () {
            var Rowdata = $(this).GetWebControls();
            Rowdata.aWId = awid;
            $.apiAjax({
                type: "POST",
                url: apiUrl.ApiworkCompanyUpdate,
                data: JSON.stringify(Rowdata),
                IsLoading: true,
                IsClose: true,
                success: function (ret) {

                }
            });
        })
        parent.window.fn_search(null, null);
    }

    function article_cancel() {

        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    }

    function Updatemethod(obj) {

        var index = parent.layer.open({
            id: "AddUpdatespeed",
            type: 2,
            area: ["700px", "400px"],
            title: "添加进度",
            content: "UpdateSpeed.html?id=" + obj
        });
        layer.full(index);
    }

    function GetUpdateList(keyvalue) {
        var data = [];
        $.apiAjax({
            type: "Get",
            alert: false,
            url: apiUrl.ApiwcInfosList + "/" + keyvalue,
            success: function (ret) {
                data = ret;
                // ComData = ret;
            }
        });
        $("#mytabledtlist_" + keyvalue).dataTable({
            width: "300px",
            height: "200px",
            columns: [{
                data: "createdTime",
                title: "办理时间",
                css: {
                    "text-align": "center"
                }
            },
                {
                    data: "situation",
                    title: "办理总结"
                },
                {
                    data: "submitter",
                    title: "办理人"
                },
                {
                    data: "situation_type",
                    title: "是否超期",
                    render: function (data, type, full, meta) {
                        if (data == 1) {
                            return "是";
                        } else {
                            return "否";
                        }
                    }
                },
                {
                    data: "delay_status",
                    title: "是否可以延期",
                    render: function (data, type, full, meta) {
                        if (data == 1) {
                            return "是";
                        } else {
                            return "否";
                        }
                    }
                }
            ],
            data: data,
            pagination: false, // 是否启用分页组件，默认启用
            showCheckbox: true,
            destroy: true,
            paging: false,
            searching: false, //是否出现搜索狂
            "scrollY": "350px",
        });

    }
</script>
